{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

	{% include '_template/inside_banner.twig' %}

	<div class="breac_crumbs">
		<a href="">首頁</a> > <a href="">資料目錄</a> > <p>所有資料集</p>
	</div>

	<div class="data_container">

		<div class="asidemenu_wrap">
			<div class="asidemenu">
				<ul>
					<li><a href="" class="hilight">資料集</a></li>
					<li><a href="">異動紀錄</a></li>
					<li><a href="">應用展示</a></li>
				</ul>
			</div>
		</div>

		<div class="data_detail">
			<div class="detail_contnet">

				<div class="super_title">
					水質監測資訊 API
				</div>
		
					
			

				<!-- 詮釋資料 -->
				<div class="api_title">
					<img src="img/earth.png" alt="">
					<h4> 詮釋資料 </h4>
				</div>

				<div class="interpretation_data">
					<div class="l-row">
						<div class="interpretation_item_a">API </div>	
						<div class="interpretation_item_b">AAAAB3NzaC1yc2EAAAADAQABAAACAQCzE75X0O4lIKwEmBNFIQCqxGFMXxzxKoaeDwWbdAIkL5oFdEsv7nQLr4wCZjDuWTv6FQvQYCEuUbozM+z0p8x//QscWFk3LAKZu9NyexYjBYgbv/byxgZ8pJYZ6YLNQtwcMIi47w73EzzAcptBHzNJavWm97aNrm3y2dzVTii0I5JWbuGK

						<a href="" class="copy_code">複製</a>

						</div>

						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">異動時間 </div>	
						<div class="interpretation_item_b">2018/05/19 Am 5:38</div>
						<div class="clear"></div>	
					</div>
					<div class="l-row">
						<div class="interpretation_item_a">編碼格式 </div>	
						<div class="interpretation_item_b">AAAAB3NzaC1yc2EAAAADAQABAAACAQCzE75X0O4lIKwEmBNFIQCqxGFMXxzxKoaeDBqqxtYI9G8QVywAWqeBOOr481gYUzhsPGn9XQ3t79fY6MNldKBtFaBB4nypqj555uFmtqstnT813Gr9XH7oqPBKfZkLUj8YakHV/gnNxoD67HdH/aQAz5aXxD0mJY55euCywebUIfbPnTw+vmUTXbtWPb4GNFaATFgT6w52WAXjd3LdhxGRMkqb8ecjs7xcwvyupXYsyyFb1wh43/jK0jROWMt6FUWht19guwzCs0ffXELAH7yOeBkwdZ8XzN9H2e1nyM590BTPCH346U9jROWjy/mEqk8IPdbnF1bshI3+FZiC+Wke8rHLL+irUmfGS5oDJ53nzzewIBvvARXcGjH0g61tIfvMcN5bBAGEP0GtdcdaXXxaKweHi47znkW7kfsvKkqyEN6x2ZxXO9Rs9MXfOoFsFuAQ</div>
						<div class="clear"></div>	
					</div>

					
				</div>




				<!-- 資料項目 -->
				<div class="api_title">
					<img src="img/terminal.png" alt="">
					<h4> API參數及測試 </h4>
				</div>

				
				<div class="swagger">
					<div class="img_swagger">
						{# <img src="img/cropped-Swagger-Logo.png" alt=""> #}
					</div>
					<div class="getswagger btn_style">測試</div>
				</div>


				<div class="callback_parameter">
					<div class="parameter_row_title green_bg">
						<div class="parameter_span_a">參數名稱</div>
						<div class="parameter_span_a">類型</div>
						<div class="parameter_span_a">輸入值</div>
						<div class="parameter_span_b">描述</div>
						<div class="clear"></div>
					</div>
					<div class="parameter_row">
						<div class="parameter_span_a">sort</div>
						<div class="parameter_span_a">offset</div>
						<div class="parameter_span_a"><input type="text" value="1000"></div>
						<div class="parameter_span_b">This is a sample server Petstore server. You can find out more about Swagger at http://swagger.io or on irc.freenode.net, #swagger. For this sample, you can use the api key special-key to test the authorization filters.</div>
						<div class="clear"></div>
					</div>
					<div class="parameter_row">
						<div class="parameter_span_a">sort</div>
						<div class="parameter_span_a">offset</div>
						<div class="parameter_span_a"><input type="text" ></div>
						<div class="parameter_span_b">This is a sample server Petstore server. You can find out more about Swagger at http://swagger.io or on irc.freenode.net, #swagger. For this sample, you can use the api key special-key to test the authorization filters.</div>
						<div class="clear"></div>
					</div>
					<div class="parameter_row">
						<div class="parameter_span_a">sort</div>
						<div class="parameter_span_a">offset</div>
						<div class="parameter_span_a"><input type="text"></div>
						<div class="parameter_span_b">This is a sample server Petstore server. You can find out more about Swagger at http://swagger.io or on irc.freenode.net, #swagger. For this sample, you can use the api key special-key to test the authorization filters.</div>
						<div class="clear"></div>
					</div>
		



				</div>
					
					
				
				{# API測試 #}
				<div class="api_title">
					<img src="img/terminal.png" alt="">
					<h4> API測試 </h4>
				</div>
				<div class="download_item">
					

					
					<div class="require_value">
						<div class="title">回傳值</div>
						<div class="j-data">
							{<br>
							  "id": 0,<br>
							  "category": {<br>
							    "id": 0,<br>
							    "name": "string"<br>
							  },<br>
							  "name": "doggie",<br>
							  "photoUrls": [<br>
							    "string"<br>
							  ],<br>
							  "tags": [<br>
							    {<br>
							      "id": 0,<br>
							      "name": "string"<br>
							    }<br>
							  ],<br>
							  "status": "available"<br>
							}<br>
						</div>

					</div>

				</div>

				



			</div>
		</div>	


	</div>
	

	



{% endblock %}