{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


	{% include '_template/inside_banner.twig' %}

	<div class="breac_crumbs">
		<a href="">首頁</a> >  <p>API 應用實例</p>
	</div>

	
	<div class="show_aside">分類篩選工具</div>

	<div class="data_container">

		<!-- classification_screening -->
		

		<!-- data_app -->
		<div class="data_app">

			<div class="super_title">
				API 應用實例
			</div>
			
			

			<div class="data_collection">
				<div class="data_search_i">
					<div class="search">	
						<input type="text" placeholder="搜尋API應用實例">
						<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="data_summary">
					共 123092 筆資料
				</div>
				<div class="data_select">
					<select name="" id="">
						<option value="">最新應用</option>
						<option value="">最新應用</option>
						<option value="">最新應用</option>
						<option value="">最新應用</option>
						<option value="">最新應用</option>
					</select>
				</div>
			</div>

			<div class="pages">
				<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
				<a href="" class="mainblue">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
			</div>

			<div class="applicaitons">
				
				<div class="exsample">
					<img src="img/app_01.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>
	
				<div class="exsample">
					<img src="img/app_02.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>
	
				<div class="exsample">
					<img src="img/app_03.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>
	
				<div class="exsample">
					<img src="img/app_01.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>

				<div class="exsample">
					<img src="img/app_01.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>
	
				<div class="exsample">
					<img src="img/app_02.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>
	
				<div class="exsample">
					<img src="img/app_03.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>
	
				<div class="exsample">
					<img src="img/app_01.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>

				<div class="exsample">
					<img src="img/app_01.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>
	
				<div class="exsample">
					<img src="img/app_02.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>
	
				<div class="exsample">
					<img src="img/app_03.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>
	
				<div class="exsample">
					<img src="img/app_01.png" alt="">
					<h6>台北自由騎一騎</h6>
				</div>
	

			</div>

			<div class="pages">
				<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
				<a href="" class="mainblue">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
			</div>

			
		</div>
	</div>
	

	



{% endblock %}