{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

	{% include '_template/inside_banner.twig' %}

	<div class="breac_crumbs">
		<a href="">首頁</a> >  <p>網站地圖</p>
	</div>



		
	<div class="data_container">
		
		<div class="super_title">
			網站地圖
		</div>
		

		<div class="map">
			<div class="map_wrapper">
				<div class="map-row">
					<div class="map_main">
						首頁
					</div>
					<div class="map_child">
						<a href="#" class="map_link">搜尋</a>
					</div>
					<div class="clear"></div>
				</div>

				<div class="map-row">
					<div class="map_main">
						API 資料目錄
					</div>
					<div class="map_child">
						<a href="#" class="map_link">所有資料集</a>
						<a href="#" class="map_link">主題分類瀏覽</a>
					</div>
					<div class="clear"></div>
				</div>

				<div class="map-row">
					<div class="map_main">
						API 應用案例
					</div>
					<div class="map_child">
						<a href="#" class="map_link">API 應用案例</a>
					</div>
					<div class="clear"></div>
				</div>

				<div class="map-row">
					<div class="map_main">
						常見問答
					</div>
					<div class="map_child">
						<a href="#" class="map_link">常見問答</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="map-row">
					<div class="map_main">
						關於網站
					</div>
					<div class="map_child">
						<a href="#" class="map_link">關於我們</a>
						<a href="#" class="map_link">使用說明</a>
						<a href="#" class="map_link">網站地圖</a>
					</div>
					<div class="clear"></div>
				</div>

				<div class="map-row">
					<div class="map_main">
						意見回應
					</div>
					<div class="map_child">
						<a href="#" class="map_link">意見回應</a>
					</div>
					<div class="clear"></div>
				</div>

			</div>
		</div>
		
	</div>
	
	
	



{% endblock %}