<div class="indside_banner">
	<div class="inside_input_wrapper">
		<div class="i_input">
			<input type="text" placeholder="輸入關鍵字搜尋">
		</div>

		<a href="" class="submit"><i class="fa fa-search" aria-hidden="true"></i>搜尋</a>
		<a href="" class="prompt">檢索提示</a>
	</div>
</div>